@{
    ViewData["Title"] = "Registration Confirmation";
}

<div class="container">
    <div class="alert alert-info mt-5" role="alert">
        @ViewBag.Message
    </div>
    <div class="text-center">
        <a class="btn btn-primary" href="/Account/Login">Go to Login</a>
    </div>
</div>
